version: 2
updates:
  # Python dependencies
  - package-ecosystem: "pip"
    directory: "/coral"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    
  # GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
